# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/__pycache__/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Environments
.env
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Lineage pipeline
lineage/cache/
lineage/lineage_tree.html
